@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@600&family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --color-white: #FFFFFF;
  --color-black: #100E1D;
  --color-gray-1: #333333;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #BDBDBD;
  --color-gray-5: #E0E0E0;
  --color-gray-6: #F2F2F2;
  --color-blue: #2D9CDB;
  --color-green: #27AE60;
  --color-red: #EB5757; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 87.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 43.75%; } }

body {
  position: relative;
  padding: 2.5rem 5rem;
  width: 100%; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.heading-1,
.heading-2 {
  font-size: 4.8rem;
  color: var(--color-gray-1); }

.heading-3 {
  font-size: 3.6rem;
  color: var(--color-gray-1); }

.heading-4 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-gray-1); }

.heading-5 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-gray-1); }

.paragraph {
  font-size: 1.8rem;
  font-weight: 400; }
  .paragraph--blue {
    color: var(--color-blue); }
  .paragraph--gray {
    color: var(--color-gray-2); }

.paragraph--xs {
  font-size: 1.4rem;
  font-weight: 300; }

.u-mb-xsmall {
  margin-bottom: 1rem !important; }

.u-mb-small {
  margin-bottom: 3rem !important; }

.u-mb-medium {
  margin-bottom: 4rem !important; }

.u-mb-big {
  margin-bottom: 6rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-mb-big {
      margin-bottom: 3rem !important; } }

.u-mb-huge {
  margin-bottom: 8rem !important; }

.u-justify-self-start {
  justify-self: start; }

.u-width-40 {
  max-width: 40rem; }

.input-group {
  width: 100%; }
  .input-group__label {
    font-size: 1.4rem;
    color: var(--color-gray-3);
    display: block;
    margin-bottom: 1rem; }
  .input-group__email {
    font-family: inherit;
    width: 75%;
    padding: 2rem;
    border-radius: 1.5rem;
    border: none;
    background-color: var(--color-gray-6); }
    @media only screen and (max-width: 37.5em) {
      .input-group__email {
        width: 70%; } }
  .input-group ::placeholder {
    font-size: 1.8rem;
    color: var(--color-gray-4);
    transform: translateY(0.5rem); }

.btn {
  font-family: inherit;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.8rem 3rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer; }
  .btn--input {
    transform: translateX(-15px); }
  .btn--small {
    padding: 1rem 2rem; }
  .btn--blue {
    background-color: var(--color-blue);
    color: var(--color-white); }
  .btn--gray {
    background-color: var(--color-gray-5);
    color: var(--color-gray-3); }
  .btn--link {
    font-size: 2.4rem;
    color: var(--color-blue); }

.services {
  display: flex;
  padding: 0 1rem; }
  @media only screen and (max-width: 56.25em) {
    .services {
      flex-direction: column; } }
  .services__box {
    padding: 5rem 3rem;
    display: grid;
    row-gap: 3rem; }
    .services__box:not(:last-child) {
      margin-right: 2.5rem; }
      @media only screen and (max-width: 56.25em) {
        .services__box:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2.5rem; } }
    .services__box--active {
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
      border-radius: 2rem; }
  .services__icon {
    width: 6rem;
    height: 6rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    fill: var(--color-white); }
    .services__icon--blue {
      background-color: var(--color-blue); }
    .services__icon--green {
      background-color: var(--color-green); }
    .services__icon--red {
      background-color: var(--color-red); }

.design {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .design {
      margin-top: 10rem;
      grid-template-columns: 1fr; } }
  .design__box {
    width: 100%; }
    @media only screen and (min-width: 56.25em) {
      .design__box:nth-child(2n) {
        transform: translateY(-20rem); } }
    @media only screen and (max-width: 37.5em) {
      .design__box:last-child {
        margin-bottom: 7.5rem; } }
  .design__img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    margin-bottom: 1rem; }

.teams {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(max-content, 40%) 60%;
  column-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .teams {
      grid-template-columns: 1fr; } }
  .teams__titles {
    align-self: center; }
  .teams__images {
    width: 100%;
    justify-self: right;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    gap: 2rem; }
  .teams__img {
    width: 100%;
    height: auto;
    border-radius: 2rem; }
    .teams__img:first-child {
      grid-row: 1 /3;
      align-self: center; }
    .teams__img--1 {
      width: 90%; }
  .teams__meet-team {
    font-size: 1.8rem;
    color: var(--color-red);
    display: block;
    margin-bottom: 1rem; }

.testimonial__quote {
  font-size: 3.6rem;
  color: var(--color-gray-1);
  display: inline-block;
  margin-bottom: 4rem; }
  .testimonial__quote::before {
    content: open-quote; }
  .testimonial__quote::after {
    content: close-quote; }

.testimonial__box {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  column-gap: 2rem; }

.testimonial__img {
  grid-row: 1 / 3;
  width: 10rem;
  border-radius: 2rem; }

.testimonial__name {
  font-size: 2.4rem;
  color: var(--color-gray-1); }

.testimonial__company {
  font-size: 1.8rem;
  color: var(--color-gray-3); }

.navigation {
  width: 30rem;
  margin-right: 20rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      margin-right: 0;
      margin-bottom: 5rem; } }
  .navigation__link {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-white);
    text-decoration: none; }
    .navigation__link:not(:last-child) {
      margin-bottom: 1rem; }

.social {
  align-self: flex-start;
  margin-right: 30rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 87.5em) {
    .social {
      margin-right: 15rem; } }
  @media only screen and (max-width: 56.25em) {
    .social {
      margin-right: 0;
      margin-bottom: 5rem;
      justify-items: left; } }
  .social__title {
    grid-column: 1 / -1;
    font-family: "Heebo", sans-serif;
    font-weight: 800;
    font-size: 3.6rem;
    color: var(--color-gray-6); }
  .social__icon {
    width: 2.5rem;
    height: 2.5rem; }

.logo-text:link,
.logo-text:visited {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 3.6rem;
  color: var(--color-gray-1);
  text-decoration: none;
  flex: 0 0 40%; }

.nav {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .nav {
      display: block; } }
  .nav__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .nav__items {
        display: none; } }
  .nav__links {
    font-size: 2.4rem;
    color: var(--color-gray-1);
    text-decoration: none;
    cursor: pointer; }
  .nav__checkbox {
    display: none; }
  .nav__button {
    display: none;
    position: absolute;
    top: 3rem;
    right: 5rem;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    z-index: 300; }
    @media only screen and (max-width: 56.25em) {
      .nav__button {
        display: block; } }
  .nav__button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 4rem;
    background-color: var(--color-black);
    z-index: 199;
    transition: 0.4s all; }
    .nav__button-icon::before, .nav__button-icon::after {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      height: 2px;
      width: 4rem;
      background-color: var(--color-black); }
    .nav__button-icon::before {
      transform: translateY(-1rem);
      transition: 0.4s all; }
    .nav__button-icon::after {
      transform: translateY(1rem);
      transition: 0.4s all; }
  .nav__checkbox:checked + .nav__button {
    position: fixed; }
  .nav__checkbox:checked + .nav__button .nav__button-icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__button .nav__button-icon::before {
    transform: rotate(130deg); }
  .nav__checkbox:checked + .nav__button .nav__button-icon::after {
    transform: rotate(230deg); }
  .nav__checkbox:checked ~ .nav__mobile {
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
    opacity: 1;
    transition: right 0.4s cubic-bezier(1, 0, 0.61, 0.88), top 0.4s cubic-bezier(1, 0, 0.61, 0.88), transform 0.4s cubic-bezier(1, 0, 0.61, 0.88), opacity 0.4s cubic-bezier(1, 0, 0.61, 0.88), width 0.4s cubic-bezier(1, 0, 0.61, 0.88) 0.4s, height 0.4s cubic-bezier(1, 0, 0.61, 0.88) 0.4s; }
  .nav__checkbox:checked ~ .nav__mobile .nav__mobile-list {
    opacity: 0.99;
    transition: opacity 0.4s 1s; }
  .nav__mobile {
    position: fixed;
    top: 3rem;
    right: 5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: var(--color-gray-5);
    z-index: 200;
    overflow: hidden;
    opacity: 0;
    transition: right 0.4s cubic-bezier(1, 0, 0.61, 0.88) 0.4s, top 0.4s cubic-bezier(1, 0, 0.61, 0.88) 0.4s, transform 0.4s cubic-bezier(1, 0, 0.61, 0.88) 0.4s, opacity 0.4s cubic-bezier(1, 0, 0.61, 0.88) 0.4s, width 0.4s cubic-bezier(1, 0, 0.61, 0.88), height 0.4s cubic-bezier(1, 0, 0.61, 0.88); }
  .nav__mobile-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    z-index: 300;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s; }
  .nav__mobile-item {
    font-size: 3rem;
    font-weight: 400;
    transition: all 0.5s; }
    .nav__mobile-item:not(:last-child) {
      margin-bottom: 5rem; }
  .nav__mobile-link {
    position: relative;
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s all; }
    .nav__mobile-link::after {
      content: " ";
      display: block;
      background-color: var(--color-gray-1);
      position: absolute;
      bottom: -1rem;
      left: 0;
      height: 3px;
      width: 0;
      transition: all 0.5s cubic-bezier(1, 0, 0.61, 0.88) 0.2s; }
  .nav__mobile-list:hover > .nav__mobile-item:not(:hover) {
    opacity: 0.5; }
  .nav__mobile-item:hover {
    transform: translateY(-5px); }
  .nav__mobile-item:hover > .nav__mobile-link::after {
    width: 100%; }

.header {
  margin-bottom: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      margin-bottom: 10rem; } }
  .header__box {
    margin-left: 25rem;
    max-width: 55rem; }
    @media only screen and (max-width: 56.25em) {
      .header__box {
        margin-left: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__box {
        margin-left: 0; } }
  .header__img {
    width: 100%;
    border-radius: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .header__img {
        height: 35rem;
        object-fit: cover; } }

.section {
  margin: 0 16.5rem 20rem 16.5rem; }
  @media only screen and (max-width: 56.25em) {
    .section {
      margin: 5rem 0; } }

.section-design {
  position: relative; }
  .section-design .btn--link {
    position: absolute;
    bottom: 0;
    right: 0; }

.section-testimonial {
  margin-bottom: 35rem; }

.footer {
  position: absolute;
  bottom: -28.7rem;
  left: 0;
  width: 100%;
  background-color: var(--color-black);
  padding: 5rem 10rem 15rem 20rem;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      flex-direction: column;
      padding: 5rem 5rem; } }
  .footer .input-group__label {
    color: var(--color-gray-6); }
  .footer .input-group .btn--input {
    transform: translateX(-9.4rem); }
  .footer .paragraph--footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    color: #a9a9a9;
    transform: translateX(-50%); }
    @media only screen and (max-width: 56.25em) {
      .footer .paragraph--footer {
        bottom: 1rem; } }
