@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@600&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-black: #100E1D;
    
    --color-gray-1: #333333;
    --color-gray-2: #4f4f4f;
    --color-gray-3: #828282;
    --color-gray-4: #BDBDBD;
    --color-gray-5: #E0E0E0;
    --color-gray-6: #F2F2F2;

    --color-blue: #2D9CDB;
    --color-green: #27AE60;
    --color-red: #EB5757;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 2.5rem 5rem;
}