.input-group {
    width: 100%;

    &__label {
        font-size: 1.4rem;
        color: var(--color-gray-3);
        display: block;
        margin-bottom: 1rem;
    }

    &__email {
        font-family: inherit;
        width: 75%;
        padding: 2rem;
        border-radius: 1.5rem;
        border: none;
        background-color: var(--color-gray-6);
    }
}

.btn {
    font-family: inherit;
    font-size: 1.4rem;
    display: inline-block;
    padding: 1.8rem 3rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;

    &--input {
        transform: translateX(-15px);
    }

    &--small {
        padding: 1rem 2rem;
    }

    &--blue {
        background-color: var(--color-blue);
        color: var(--color-white);
    }

    &--gray {
        background-color: var(--color-gray-5);
        color: var(--color-gray-3);
    }

    &--link {
        font-size: 2.4rem;
        color: var(--color-blue);
    }
}

//SERVICES

.services {
    display: flex;
    padding: 0 1rem;

    &__box {
        &:not(:last-child) { margin-right: 10rem;}
        padding: 5rem 3rem;

        display: grid;
        row-gap: 3rem;

        &--active {
            box-shadow: 0 1.5rem 3rem rgba(0,0,0, 0.10);
            border-radius: 2rem;
        }
    }

    &__icon {
        width: 6rem;
        height: 6rem;
        border-radius: 1.5rem;
        padding: 1.5rem;
        fill: var(--color-white);

        &--blue { background-color: var(--color-blue); }
        &--green { background-color: var(--color-green); }
        &--red { background-color: var(--color-red); }
    }
}

//DESIGN
.design {
    margin-top: 20rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 10rem;

    &__box {
        &:nth-child(2n) { transform: translateY(-20rem); }
        width: 100%;
    }

    &__img {
        width: 100%;
        height: auto;
        border-radius: 2rem;
        margin-bottom: 1rem;
    }
}

//TEAMS

.teams {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(max-content, 40%) max(60%);

    &__titles {
        align-self: center;
    }

    &__images {
        width: 100%;
        justify-self: right;
        display: grid;
        grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
        grid-template-rows: minmax(min-content, max-content);
        gap: 2rem;
    }

    &__img {
        &:first-child {
            grid-row: 1 /3;
            align-self: center;
        }
        width: 100%;
        border-radius: 2rem;
    }

    &__meet-team {
        font-size: 1.8rem;
        color: var(--color-red);
        display: block;
        margin-bottom: 1rem;
    }
}