body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

h1,
h2 {
    font-size: 4.8rem;
    color: var(--color-gray-1)
}

.paragraph {
    font-weight: 400;
    font-size: 1.8rem;
    &--blue { color: var(--color-blue); }
    &--gray { color: var(--color-gray-2); }
}